# File Analysis Toolbox

<table table style="float:left; border:none; background-color: #ffffff">
    <tr style="border:none; background-color: #ffffff">
       <td style="float: left">
           <a href="http://pyviz.org/tutorial/07_Geographic_Data.html">     
           <img src="img/l_bokeh.png" style="width:50px; align: left;"></a>    
       </td>
       <td style="border:none; float: left">
           <h2>Geo Plotting</h2>
       </td>
    </tr>
    <tr style="border:none; background-color: #ffffff">
       <td style="border:none; float: left">
           <a href="https://pandas.pydata.org">     
           <img src="img/l_pandas.png" style="height:50px; align: left"></a>
       </td>
       <td style="border:none; float: left">
           <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html">
           <img src="img/l_excel.png" style="height:50px; align: center"></a>
       </td>
       <td style="border:none; float: left">
           <a href="https://www.mysql.com/products/connector/">
           <img src="img/l_mysql.png" style="height:50px; align: center"></a>    
       </td>
       <td style="border:none; float: left">
           <h2>Dataframes</h2>
       </td>
    </tr>
    <tr style="border:none; background-color: #ffffff">
       <td style="border:none; float: left">
           <a href="https://3.python-requests.org">
           <img src="img/l_req.png" style="width:50px; align: left;"></a>
       </td>
       <td style="border:none; float: left">
           <h2>HTTP Get/Put</h2>
       </td>
    </tr>    
    <tr style="border:none; background-color: #ffffff">
       <td style="border:none; float: left">
           <a href="https://github.com/cghall/force-retrieve">     
           <img src="img/l_sfdev.png" style="height:50px; align: left;"></a>    
       </td>
       <td style="border:none; float: left">
           <a href="http://developer.pardot.com/kb/api-version-3/opportunities/">     
           <img src="img/l_pardot.png" style="height:50px; align: left;"></a>
       </td>
       <td style="border:none; float: left">
           <h2>REST APIs</h2>
       </td>
    </tr>
</table>

In [7]:
import io
import sys
import numpy as np
import pandas as pd
from collections import OrderedDict
import xlrd
import IPython
import bokeh
from bokeh.io import output_notebook, output_file, show, push_notebook
from bokeh.plotting import *
from bokeh.models import ColumnDataSource, HoverTool, CategoricalColorMapper
from bokeh.layouts import row, column, gridplot, widgetbox
from bokeh.models.widgets import Tabs, Panel
from bokeh.transform import factor_cmap
import hvplot as hv
import hvplot.pandas
import mysql.connector
from simple_salesforce import Salesforce
from pardot.client import APIClient
import pytz
import datetime
from progressbar import ProgressBar
print("python:", sys.version)
print("numpy:", np.__version__)
print("pandas:", pd.__version__)
print("xlrd:", xlrd.__version__)
print("IPython:", IPython.__version__)
print("bokeh:", bokeh.__version__)
print("holoviews:", hv.__version__)
print("mysql:", mysql.connector.__version__)
print("Salesforce:", Salesforce)
print("Pardot:", APIClient)
output_notebook()
from simple_salesforce import Salesforce
from salesforce_reporting import Connection, ReportParser
with open('.sfdc') as f:
    uname, spass, stoken, ppass, ptoken = [x.strip("\n") for x in f.readlines()]

python: 3.7.1 (default, Dec 14 2018, 13:28:58)
[Clang 4.0.1 (tags/RELEASE_401/final)]
numpy: 1.16.2
pandas: 0.24.2
xlrd: 1.2.0
IPython: 7.1.1
bokeh: 1.1.0
holoviews: 0.4.0
mysql: 8.0.15
Salesforce: <class 'simple_salesforce.api.Salesforce'>
Pardot: <class 'pardot.client.APIClient'>

<a href="https://github.com/cghall/force-retrieve"><img src="img/l_sf.png" style="width:80px; float: left;"></a> 
<h2 style="padding-left:100px; border:none">Query</h2>

In [8]:
sf = Salesforce(username=uname, password=spass, security_token=stoken)     # authenticate
end = datetime.datetime.now(pytz.UTC)                                           # salesforce API requires UTC
# print("Session ID:", session_id)
# print("Instance:", sf_instance)
# print("Version:", sf_version)
print("@ ", end)

@  2019-06-10 22:38:14.575555+00:00

In [14]:
query = sf.query("SELECT CreatedDate, Name, mkt_bucket__c FROM Opportunity LIMIT 5")

In [23]:
query

OrderedDict([('totalSize', 5),
             ('done', True),
             ('records',
              [OrderedDict([('attributes',
                             OrderedDict([('type', 'Opportunity'),
                                          ('url',
                                           '/services/data/v38.0/sobjects/Opportunity/0068000000Qv4BWAAZ')])),
                            ('CreatedDate', '2009-09-22T15:05:53.000+0000'),
                            ('Name', 'Citi Performing Arts Center'),
                            ('mkt_bucket__c', 'ORGANIC')]),
               OrderedDict([('attributes',
                             OrderedDict([('type', 'Opportunity'),
                                          ('url',
                                           '/services/data/v38.0/sobjects/Opportunity/0068000000akVEmAAM')])),
                            ('CreatedDate', '2011-06-14T20:54:37.000+0000'),
                            ('Name', 'Markoja d.o.o.-PDO'),
                            ('mkt_bucket__c', 'ORGANIC')]),
               OrderedDict([('attributes',
                             OrderedDict([('type', 'Opportunity'),
                                          ('url',
                                           '/services/data/v38.0/sobjects/Opportunity/0068000000QwVD9AAN')])),
                            ('CreatedDate', '2009-09-29T14:54:54.000+0000'),
                            ('Name', 'Woods Construction, Inc'),
                            ('mkt_bucket__c', 'ORGANIC')]),
               OrderedDict([('attributes',
                             OrderedDict([('type', 'Opportunity'),
                                          ('url',
                                           '/services/data/v38.0/sobjects/Opportunity/0068000000ak3jMAAQ')])),
                            ('CreatedDate', '2011-06-06T18:05:01.000+0000'),
                            ('Name',
                             'Adult and Pediatric Urology- New Web Lead'),
                            ('mkt_bucket__c', None)]),
               OrderedDict([('attributes',
                             OrderedDict([('type', 'Opportunity'),
                                          ('url',
                                           '/services/data/v38.0/sobjects/Opportunity/0068000000QuXgCAAV')])),
                            ('CreatedDate', '2009-09-18T16:54:23.000+0000'),
                            ('Name', 'Dreamlike Pictures'),
                            ('mkt_bucket__c', 'SALES')])])])

In [16]:
# query = sf.query(opty)
# query = sf.query_all(opty)
# df = pd.DataFrame(query['records'])
# df = pd.DataFrame(sf.query_all(q_cloud_t3)['records'])

In [21]:
records = [dict(
      Create=rec['CreatedDate'],
        Name=rec['Name'],
      bucket=rec['mkt_bucket__c'])
    for rec in query['records']]
qdf = pd.DataFrame(records)

In [22]:
qdf

,Create,Name,bucket
0,2009-09-22T15:05:53.000+0000,Citi Performing Arts Center,ORGANIC
1,2011-06-14T20:54:37.000+0000,Markoja d.o.o.-PDO,ORGANIC
2,2009-09-29T14:54:54.000+0000,"Woods Construction, Inc",ORGANIC
3,2011-06-06T18:05:01.000+0000,Adult and Pediatric Urology- New Web Lead,None
4,2009-09-18T16:54:23.000+0000,Dreamlike Pictures,SALES

In [54]:
qdf.to_csv (r'opty.csv', index = None, header=True)

In [437]:
report = sf.get_report(_Customer_Cloud_T3)
parser = salesforce_reporting.ReportParser(report)
items = parser.records()
labels = parser._get_field_labels()
headers = [labels[i] for i in labels]
items.insert(0, headers)
df0 = pd.DataFrame(items)
header = df0.iloc[0]
df0 = df0.drop([0])
df0.columns = header

In [480]:
df= df0
df.head(2)

,Parent Account: Account Name,Top Level Parent,Account Name,Industry Vertical,team,Acct Customer Success Rep,Account Owner: Full Name,Account Owner Role,Managed by Parent?,Account Level in Hierarchy,...,Contact Pardot Last,Contact Pardot URL,Contact Full Name,Contact Email,Top Level Parent ID,18 Digit Parent Account ID,Account ID,18 Digit Account ID,Contact ID,18 Digit Contact ID
1,Aimbridge Hospitality,Aimbridge Hospitality,Dallas/Addison Marriott Quorum by the Galleria,Hospitality,hosp,customersuccessteam@fourwindsinteractive.com,Lindsey Bell,Hospitality Team,Aimbridge Hospitality,2,...,-,-,Rick Galloway,rick.galloway@marriott.com,0013000000JXx82,0013000000JXx82AAD,0013000000HHHgi,0013000000HHHgiAAH,0038000001hWI1Z,0038000001hWI1ZAAW
2,-,Children's Hospital Association,Children's Hospital Association,Healthcare,educ,customersuccessteam@fourwindsinteractive.com,Alexandra Singer,Education Team,-,1,...,-,"<a href=""javascript:openPopupFocus%28%27http%3...",DARCIE REESON,darcie.reeson@childrenshospitals.org,0018000000orFWk,-,0018000000orFWk,0018000000orFWkAAM,0038000001hXJs5,0038000001hXJs5AAG

In [481]:
df.columns

Index(['Parent Account: Account Name', 'Top Level Parent', 'Account Name',
       'Industry Vertical', 'team', 'Acct Customer Success Rep',
       'Account Owner: Full Name', 'Account Owner Role', 'Managed by Parent?',
       'Account Level in Hierarchy', 'Acct ARR', 'Acct Pro Serv CY',
       'Active Acct Opps #', 'Cloud Upgrade', 'Acct Viewer Lic',
       'Acct Contributer Lic', 'Acct Author Lic', 'Contact Active?',
       'Contact for NPS Survey?', 'Contact Pref Comms',
       'Contact Pardot Campaign', 'Contact Persona', 'Contact Pardot Last',
       'Contact Pardot URL', 'Contact Full Name', 'Contact Email',
       'Top Level Parent ID', '18 Digit Parent Account ID', 'Account ID',
       '18 Digit Account ID', 'Contact ID', '18 Digit Contact ID'],
      dtype='object', name=0)

In [485]:
df = df.astype({"Managed by Parent?": bool})
df = df.astype({"Contact for NPS Survey?": bool})
df = df.astype({'Managed by Parent?': bool})
df = df.astype({'Contact Active?': bool})
df = df.astype({'Account Level in Hierarchy': int})
df = df.astype({'Active Acct Opps #': int})
df['Acct Viewer Lic'] = (df['Acct Viewer Lic'].replace('[\-]','0', regex=True).astype(int))
df['Acct Contributer Lic'] = (df['Acct Contributer Lic'].replace('[\-]','0', regex=True).astype(int))
df['Acct Author Lic'] = (df['Acct Author Lic'].replace('[\-]','0', regex=True).astype(int))
df['Acct Pro Serv CY'] = (df['Acct Pro Serv CY'].replace( '[\$,)]','',regex=True).astype(float))

In [489]:
df['Acct ARR'] = (df['Acct ARR'].replace( '[\$,)]','',regex=True).astype(float))

In [490]:
df.dtypes

0
Parent Account: Account Name     object
Top Level Parent                 object
Account Name                     object
Industry Vertical                object
team                             object
Acct Customer Success Rep        object
Account Owner: Full Name         object
Account Owner Role               object
Managed by Parent?                 bool
Account Level in Hierarchy        int64
Acct ARR                        float64
Acct Pro Serv CY                float64
Active Acct Opps #                int64
Cloud Upgrade                    object
Acct Viewer Lic                   int64
Acct Contributer Lic              int64
Acct Author Lic                   int64
Contact Active?                    bool
Contact for NPS Survey?            bool
Contact Pref Comms               object
Contact Pardot Campaign          object
Contact Persona                  object
Contact Pardot Last              object
Contact Pardot URL               object
Contact Full Name                object
Contact Email                    object
Top Level Parent ID              object
18 Digit Parent Account ID       object
Account ID                       object
18 Digit Account ID              object
Contact ID                       object
18 Digit Contact ID              object
dtype: object

In [492]:
table = pd.pivot_table(df,index=["team","Account Name"],
               values=["Acct ARR","Acct Pro Serv CY",
                       "Acct Pro Serv CY",
                       "Acct Viewer Lic",
                       "Acct Contributer Lic",
                       "Acct Author Lic"],
               aggfunc=[np.sum],fill_value=0)

In [493]:
table

                                                               sum  \
0                                                         Acct ARR
team Account Name
educ Amarillo College                                     99750.00
     American University                                 142645.44
     BYU Provo - Continuing Education                     51916.32
     Bureau of the State House - Building Services        14673.60
     CHI St. Luke's Community Health Services dba St...   29666.40
     CUNY Hostos Community College                        56147.04
     California State U Sacramento College of Business    13101.36
     California State University - San Marcos             59999.76
     Charis Bible College                                100656.00
     Children's Hospital Association                      39167.40
     City of Augusta                                      46200.00
     City of Palo Alto                                    58843.20
     Colorado State University Health Network            109671.12
     Covenant Village - Gastonia NC                       22404.60
     Denver Health                                        71121.60
     Encore - Tampa Convention Center                     32985.00
     Erskine College                                      15036.72
     Federal Reserve Bank Boston                         113183.40
     Forest County Potawatomi                             55081.20
     Gonzaga University                                   92759.16
     Graybar Electric Company - Aspirus Health System     33525.00
     Jackson County Georgia                                6906.00
     King University                                       6633.84
     Lynn University                                     217016.64
     Mercy Hospital of Bakersfield                        17994.24
     Mission Support Alliance                             76704.84
     National Renewable Energy Laboratory (NREL)           7251.60
     New York State Comptroller                           70000.00
     Olivet Nazarene University                           48750.00
     QES Computers                                        25000.08
...                                                            ...
hosp Spotlight 29 Casino                                  43200.00
     Tampa Marriott Waterside Hotel & Marina              71137.92
     Texas A&M Hotel and Conference Center                20880.00
     The Dalmar, A Tribute Portfolio Hotel                20097.00
     The Logan Philadelphia                               84765.96
     The Porter Hotel, a Curio by Hilton                  55663.44
     The Ritz-Carlton Amelia Island                       59254.20
     The Westin Beach Resort & Spa Fort Lauderdale       119046.60
     The Westin Buckhead Atlanta                          10080.00
     The Westin Calgary                                   28532.16
     The Westin Copley Place Boston                       89000.40
     The Westin Crown Center                              47250.00
     The Westin Harbour Castle                            32581.44
     The Westin Indianapolis                              69381.12
     The Westin Jersey City                               33821.64
     The Westin New Orleans Canal Place                   63000.00
     The Westin San Diego                                154468.80
     The Woodlands Waterway Marriott Hotel & Conv Cntr    68400.00
     Vail Marriott Mountain Resort & Spa                  75438.00
     Valley Forge Casino Resort                           53588.64
     W Hotel Fort Lauderdale                              42750.00
     Washington Marriott Wardman Park                     39804.48
     Washington Marriott at Metro Center                  39827.04
     Waterford Marriott                                    6760.80
     Westin Chicago River North                           99000.00
     Westin Philadelphia                                  54000.00
     White Lodging - Marriott Westminster                 59246.88
     Wildwood Casino                                      47355.00
     Wyndham Midtown 45 at New York City                  34380.00
     aloft Chicago Magnificent Mile                       24618.24

                                                                         \
0                                                       Acct Author Lic
team Account Name
educ Amarillo College                                                 0
     American University                                              0
     BYU Provo - Continuing Education                                 0
     Bureau of the State House - Building Services                    0
     CHI St. Luke's Community Health Services dba St...               0
     CUNY Hostos Community College                                    0
     California State U Sacramento College of Business                0
     California State University - San Marcos                         0
     Charis Bible College                                             0
     Children's Hospital Association                                  0
     City of Augusta                                                  0
     City of Palo Alto                                                0
     Colorado State University Health Network                         0
     Covenant Village - Gastonia NC                                   0
     Denver Health                                                    0
     Encore - Tampa Convention Center                                 0
     Erskine College                                                  0
     Federal Reserve Bank Boston                                      0
     Forest County Potawatomi                                         0
     Gonzaga University                                               0
     Graybar Electric Company - Aspirus Health System                 0
     Jackson County Georgia                                           0
     King University                                                  0
     Lynn University                                                  0
     Mercy Hospital of Bakersfield                                    0
     Mission Support Alliance                                         0
     National Renewable Energy Laboratory (NREL)                      0
     New York State Comptroller                                       0
     Olivet Nazarene University                                       0
     QES Computers                                                    0
...                                                                 ...
hosp Spotlight 29 Casino                                             18
     Tampa Marriott Waterside Hotel & Marina                          0
     Texas A&M Hotel and Conference Center                            9
     The Dalmar, A Tribute Portfolio Hotel                            9
     The Logan Philadelphia                                           0
     The Porter Hotel, a Curio by Hilton                              0
     The Ritz-Carlton Amelia Island                                   0
     The Westin Beach Resort & Spa Fort Lauderdale                    0
     The Westin Buckhead Atlanta                                      6
     The Westin Calgary                                               0
     The Westin Copley Place Boston                                  30
     The Westin Crown Center                                         15
     The Westin Harbour Castle                                        0
     The Westin Indianapolis                                          0
     The Westin Jersey City                                           9
     The Westin New Orleans Canal Place                              21
     The Westin San Diego                                             0
     The Woodlands Waterway Marriott Hotel & Conv Cntr               15
     Vail Marriott Mountain Resort & Spa                             15
     Valley Forge Casino Resort                                       0
     W Hotel Fort Lauderdale                                          9
     Washington Marriott Wardman Park                                 0
     Washington Marriott at Metro Center                             12
     Waterford Marriott                                               0
     Westin Chicago River North                                       0
     Westin Philadelphia                                             18
     White Lodging - Marriott Westminster                             0
     Wildwood Casino                                                  0
     Wyndham Midtown 45 at New York City                             15
     aloft Chicago Magnificent Mile                                   0

                                                                              \
0                                                       Acct Contributer Lic
team Account Name
educ Amarillo College                                                      0
     American University                                                   0
     BYU Provo - Continuing Education                                      0
     Bureau of the State House - Building Services                         0
     CHI St. Luke's Community Health Services dba St...                    0
     CUNY Hostos Community College                                         0
     California State U Sacramento College of Business                     0
     California State University - San Marcos                              0
     Charis Bible College                                                  0
     Children's Hospital Association                                       0
     City of Augusta                                                       0
     City of Palo Alto                                                     0
     Colorado State University Health Network                              0
     Covenant Village - Gastonia NC                                        0
     Denver Health                                                         0
     Encore - Tampa Convention Center                                      0
     Erskine College                                                       0
     Federal Reserve Bank Boston                                           0
     Forest County Potawatomi                                              0
     Gonzaga University                                                    0
     Graybar Electric Company - Aspirus Health System                      0
     Jackson County Georgia                                                0
     King University                                                       0
     Lynn University                                                       0
     Mercy Hospital of Bakersfield                                         0
     Mission Support Alliance                                              0
     National Renewable Energy Laboratory (NREL)                           0
     New York State Comptroller                                            0
     Olivet Nazarene University                                            0
     QES Computers                                                         0
...                                                                      ...
hosp Spotlight 29 Casino                                                   0
     Tampa Marriott Waterside Hotel & Marina                               0
     Texas A&M Hotel and Conference Center                                 0
     The Dalmar, A Tribute Portfolio Hotel                                 0
     The Logan Philadelphia                                                0
     The Porter Hotel, a Curio by Hilton                                   0
     The Ritz-Carlton Amelia Island                                        0
     The Westin Beach Resort & Spa Fort Lauderdale                         0
     The Westin Buckhead Atlanta                                           0
     The Westin Calgary                                                    0
     The Westin Copley Place Boston                                        0
     The Westin Crown Center                                               0
     The Westin Harbour Castle                                             0
     The Westin Indianapolis                                               0
     The Westin Jersey City                                                0
     The Westin New Orleans Canal Place                                    0
     The Westin San Diego                                                  0
     The Woodlands Waterway Marriott Hotel & Conv Cntr                     0
     Vail Marriott Mountain Resort & Spa                                   0
     Valley Forge Casino Resort                                            0
     W Hotel Fort Lauderdale                                               0
     Washington Marriott Wardman Park                                      0
     Washington Marriott at Metro Center                                   0
     Waterford Marriott                                                    0
     Westin Chicago River North                                            0
     Westin Philadelphia                                                   0
     White Lodging - Marriott Westminster                                  0
     Wildwood Casino                                                       0
     Wyndham Midtown 45 at New York City                                   0
     aloft Chicago Magnificent Mile                                        0

                                                                          \
0                                                       Acct Pro Serv CY
team Account Name
educ Amarillo College                                             925.00
     American University                                       400400.00
     BYU Provo - Continuing Education                               0.00
     Bureau of the State House - Building Services                  0.00
     CHI St. Luke's Community Health Services dba St...          5920.00
     CUNY Hostos Community College                                  0.00
     California State U Sacramento College of Business              0.00
     California State University - San Marcos                       0.00
     Charis Bible College                                           0.00
     Children's Hospital Association                              462.50
     City of Augusta                                            48090.00
     City of Palo Alto                                          41820.00
     Colorado State University Health Network                    9000.00
     Covenant Village - Gastonia NC                             10650.00
     Denver Health                                             100000.00
     Encore - Tampa Convention Center                            5750.00
     Erskine College                                            10000.00
     Federal Reserve Bank Boston                                15262.50
     Forest County Potawatomi                                       0.00
     Gonzaga University                                        216417.50
     Graybar Electric Company - Aspirus Health System           70692.00
     Jackson County Georgia                                         0.00
     King University                                                0.00
     Lynn University                                           451740.00
     Mercy Hospital of Bakersfield                                  0.00
     Mission Support Alliance                                       0.00
     National Renewable Energy Laboratory (NREL)               141350.00
     New York State Comptroller                                     0.00
     Olivet Nazarene University                                     0.00
     QES Computers                                              12300.00
...                                                                  ...
hosp Spotlight 29 Casino                                       106470.00
     Tampa Marriott Waterside Hotel & Marina                    49300.00
     Texas A&M Hotel and Conference Center                      63934.50
     The Dalmar, A Tribute Portfolio Hotel                      11992.50
     The Logan Philadelphia                                         0.00
     The Porter Hotel, a Curio by Hilton                        88324.25
     The Ritz-Carlton Amelia Island                             53932.50
     The Westin Beach Resort & Spa Fort Lauderdale               5550.00
     The Westin Buckhead Atlanta                                14551.50
     The Westin Calgary                                         18560.00
     The Westin Copley Place Boston                            110925.00
     The Westin Crown Center                                    64687.50
     The Westin Harbour Castle                                  11030.00
     The Westin Indianapolis                                    86312.00
     The Westin Jersey City                                     33015.00
     The Westin New Orleans Canal Place                        135770.25
     The Westin San Diego                                           0.00
     The Woodlands Waterway Marriott Hotel & Conv Cntr         104861.25
     Vail Marriott Mountain Resort & Spa                       141102.50
     Valley Forge Casino Resort                                199500.00
     W Hotel Fort Lauderdale                                    71197.50
     Washington Marriott Wardman Park                          175140.00
     Washington Marriott at Metro Center                        70400.00
     Waterford Marriott                                             0.00
     Westin Chicago River North                                110165.00
     Westin Philadelphia                                        59304.00
     White Lodging - Marriott Westminster                       11007.50
     Wildwood Casino                                                0.00
     Wyndham Midtown 45 at New York City                        30742.50
     aloft Chicago Magnificent Mile                             42031.50

                                                                          \
0                                                       Acct Pro Serv CY
team Account Name
educ Amarillo College                                             925.00
     American University                                       400400.00
     BYU Provo - Continuing Education                               0.00
     Bureau of the State House - Building Services                  0.00
     CHI St. Luke's Community Health Services dba St...          5920.00
     CUNY Hostos Community College                                  0.00
     California State U Sacramento College of Business              0.00
     California State University - San Marcos                       0.00
     Charis Bible College                                           0.00
     Children's Hospital Association                              462.50
     City of Augusta                                            48090.00
     City of Palo Alto                                          41820.00
     Colorado State University Health Network                    9000.00
     Covenant Village - Gastonia NC                             10650.00
     Denver Health                                             100000.00
     Encore - Tampa Convention Center                            5750.00
     Erskine College                                            10000.00
     Federal Reserve Bank Boston                                15262.50
     Forest County Potawatomi                                       0.00
     Gonzaga University                                        216417.50
     Graybar Electric Company - Aspirus Health System           70692.00

In [4]:
import pandas as pd

def convert_simple_salesforce_ordered_dictionary_to_pandas_dataframe(ordered_dictionary):

   # Get records list from the ordered dictionary
   ord_dict_records = ordered_dictionary['records']
   dictionary = {}

   # Create the dictionary with the proper formatting to import to the Pandas Dataframe
   # Note, special case for 'attributes' key since it's a nested ordered dictionary
   # Example format: d = {'col1': [1, 2], 'col2': [3, 4]}
   # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html
   for key, value in ord_dict_records[0].items():
        if key == 'attributes':
            for attribute_key, attribute_value in value.items():
                dictionary[attribute_key] = []
        else:
            dictionary[key] = []

   # populate the dictionary. The keys being the future pandas dataframe headers
   # and the values being appended to the dictionary value list
   for record in ord_dict_records:
        for key, value in record.items():
            if key == 'attributes':
                for attribute_key, attribute_value in value.items():
                    dictionary[attribute_key].append(attribute_value)
            else:
                dictionary[key].append(value)

return pd.DataFrame(data=dictionary)

NameError: name 'dictionary' is not defined

<a href="http://developer.pardot.com/kb/api-version-3/opportunities/"><img src="img/l_pardot.png" style="width:100px; float: left;"></a>    
<h2 style="padding-left:125px; border:none">Methods</h2>

In [8]:
from pardot.client import APIClient
with open('.pardot') as f:
    username, password, token = [x.strip("\n") for x in f.readlines()]
client = APIClient(username, password, token)
# pa = client.prospect.read('someone@example.com')
# pa = client.prospect.update('someone@example.com', first_name='John')
for r in client.prospect.query(new=True):
    print(r)

PardotAPIException: Pardot API call failed with Code 28: "Parameter new must be true or false" for request: https://pi.pardot.com/api/prospect/version/3/do/query

<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html"><img src="img/l_pandas.png" style="height:50px; float: left;"></a> 
<h2 style="padding-left:80px; border:none">CSV IO</h2>

In [9]:
# df = pd.read_csv('data/hosp.csv', index_col='Target?', dtype={'user_id': int})
df = pd.read_csv('data/15Pct.csv')
# with open('csvfile.csv', 'w') as csvfile: f = csv.writer(csvfile) f.writerows(items)  # write to csv file

/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html"><img src="img/l_excel.png" style="width:50px; float: left;"></a> 
<h2 style="padding-left:80px; border:none">Excel Methods</h2>

In [ ]:
df = pd.read_excel('data/15Pct.xlsx', '15Pct')
df.dtypes
# writer = pd.ExcelWriter('examples/ex2.xlsx')
# df.to_excel(writer, 'Sheet1')
# writer.save()
# df.to_excel('examples/ex2.xlsx')
# !rm examples/ex2.xlsx

<a href="https://pandas.pydata.org"><img src="img/l_pandas.png" style="width:70px; float: left;"></a>    
<h2 style="padding-left:100px; border:none">DataFrames</h2>

--------------------------------------  
  
### attributes  
  
```python
DataFrame.shape                         # dimensions (tuple)
DataFrame.describe()                    # shows a quick statistic data summary
DataFrame.info()                        # data types and specs
DataFrame.dtypes                        # column labels & data types
DataFrame.index                         # index (row labels)
DataFrame.head(n)                       # return first n rows
DataFrame.tail(n)                       # return last n rows    
DataFrame.columns                       # column labels
DataFrame.values                        # Numpy representation
DataFrame.axes                          # list axes
DataFrame.size                          # number (int) elements
DataFrame.memory_usage([index, deep])   # each column memory (bytes)
DataFrame.empty                         # empty
DataFrame.is_copy                       # return copy
```
  
### plots
Callable method and namespace attribute for specific plotting methods
```python
DataFrame.plot([x, y, kind, ax, ….])	    # DataFrame plotting accessor and method
DataFrame.plot.area([x, y])	                # Draw a stacked area plot.
DataFrame.plot.bar([x, y])	                # Vertical bar plot.
DataFrame.plot.barh([x, y])	                # Make a horizontal bar plot.
DataFrame.plot.box([by])	                # Make a box plot of the DataFrame columns.
DataFrame.plot.density([bw_method, ind])	# Generate Kernel Density Estimate plot using Gaussian kernels.
DataFrame.plot.hexbin(x, y[, C, …])	        # Generate a hexagonal binning plot.
DataFrame.plot.hist([by, bins])	            # Draw one histogram of the DataFrame’s columns.
DataFrame.plot.kde([bw_method, ind])	    # Generate Kernel Density Estimate plot using Gaussian kernels.
DataFrame.plot.line([x, y])	                # Plot DataFrame columns as lines.
DataFrame.plot.pie([y])	                    # Generate a pie plot.
DataFrame.plot.scatter(x, y[, s, c])	    # Create a scatter plot with varying marker point size and color.
DataFrame.boxplot([column, by, ax, …])	    # Make a box plot from DataFrame columns.
DataFrame.hist([column, by, grid, …])	    # Make a histogram of the DataFrame’s.
```

  
### transforms
```python
DataFrame.isna()	                            # Detect missing values.
DataFrame.between_time(start_time, end_time)	# Select between times of the day (e.g., 9:00-9:30 AM)
DataFrame.drop([labels, axis, index, …])	    # Drop specified labels from rows or columns
DataFrame.set_index(keys[, drop, append, …])	# Set the DataFrame index using existing columns
  
DataFrame.['col0'].astype(str)                  # change dtype (int32, int64, str, bool, category
numpy.integer,signedinteger.int8,int16,int32,int64,timedelta64,
numpy.unsignedinteger.uint8,.uint16,.uint32,.uint64,.uint64
numpy.floating.float16,float32,float64,float128
numpy.complexfloating.complex64, complex128, complex256
numpy.flexible.character
numpy.bytes_, numpy.str_
numpy.void
numpy.record
numpy.bool_,
numpy.datetime64,
numpy.object_
  
DataFrame = DataFrame.set_index("col0")
DataFrame.drop("Ireland", axis=0)                            # Delete all rows with label "Ireland"
```

   
### sort
```python
DataFrame.sort_index(axis=2, ascending=False)                 # axis sort
DataFrame.sort_values(by='Target?')                           # value sort 'column'
```
map() method produces complex criteria
```python
criterion = DataFrame['a'].map(lambda x: x.startswith('t'))   # only want 'two' or 'three'
DataFrame[criterion]
```
```python
DataFrame[[x.startswith('t') for x in DataFrame['a']]]        # equivalent but slower
DataFrame[criterion & (DataFrame['b'] == 'x')]                # with multiple criteria
DataFrame.loc[criterion & (DataFrame['b'] == 'x'), 'b':'c']   # Select by Label, Position, Advanced Indexing
```


### lookup()
Extract a set of values given a sequence of row labels and column labels return **NumPy array**

```python
DataFrame.lookup(list(range(0, 10, 2)), ['B', 'C', 'A', 'B', 'D'])
```


### query()

column b has values between column a and c values
```python
DataFrame.query('(a < b) & (b < c)')
index = pd.MultiIndex.from_arrays([colors, foods], names=['color', 'food'])
```

columns a and "b" have overlapping values
```python
DataFrame.query('a in b')
```

columns a and b have overlapping values and col c's values are less than col d's
```python
DataFrame.query('a in b and c < d')
```

Comparing a list of values to a column using ==/!= works similarly to in/not in.
```python
DataFrame.query('b == ["a", "b", "c"]')
```


### duplicate()
remove duplicate rows

*duplicated returns boolean vector len = #rows indicating duplicated rows*
```python
DataFrame.duplicated('a', keep=False)
DataFrame.duplicated(['a', 'b'])
```
+ drop_dupes
```python
DataFrame.drop_duplicates('a', keep='last')
```

dupe handling
+ keep='first' (default): mark / drop duplicates except for the first occurrence
+ keep='last': mark / drop duplicates except for the last occurrence
+ keep=False: mark / drop all duplicates

drop dupes
```python
DataFrame.index.duplicated()
DataFrame[~DataFrame.index.duplicated()]
```
```python
DataFrame[~DataFrame.index.duplicated(keep='last')]
DataFrame[~DataFrame.index.duplicated(keep=False)]
```


### df.loc()  
    
```python
DataFrame.loc[<row selection>, <column selection>]
```  
 
set index on _col0_ column  
```python
DataFrame.set_index('col0', inplace=True)
```  
  
select rows with index values 'Andrade' + 'Veness' with columns fr 'city' to 'email'  
```python
nDataFrame.loc[['Andrade', 'Veness'], 'city':'email']
```  
  
select same rows, with just 'first_name', 'address' and 'city' columns  
```python
DataFrame.loc['Andrade':'Veness', ['first_name', 'address', 'city']]
```  
  
select rows with _first name_ Antonio and _columns_ 'city' to 'email'  
  
```python
DataFrame.loc[DataFrame['first_name'] == 'Antonio', 'city':'email']
```  
  
Select rows where email column ends w/ 'hotmail.com' include all columns  
```python
DataFrame.loc[DataFrame['email'].str.endswith("hotmail.com")]
```  
  
  
### indexing isin()  
  
returns boolean vector true where series elements exist in passed list  
row select with selected row/column values  
  
```python
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')
df = pd.DataFrame({'vals': [1, 2, 3, 4], 'ids': ['a', 'b', 'f', 'n'],'ids2': ['a', 'n', 'c', 'n']})
values = ['a', 'b', 1, 3]
values = {'ids': ['a', 'b'], 'vals': [1, 3]}                  # match values with columns into dict
df.isin(values)
```

*combine DataFrame isin() any() all() methods to select data subsets meeting criteria. Select rows where column meets its own criterion:*
```python
values = {'ids': ['a', 'b'], 'ids2': ['a', 'c'], 'vals': [1, 3]}
row_mask = df.isin(values).all(1)
df[row_mask]
df.query('a < b < c')
```

<a href="https://developer.salesforce.com/docs/api-explorer"><img src="img/l_sfdev.png" style="width:200px; float: left;"></a>    
<h2 style="padding-left:225px; border:none">Salesforce Methods</h2>
  
--------------------------------------  

Create file /root/.sfdc with credentials as:  
username  
password  
token  
uid
instance

### authenticate 
```python
from salesforce_reporting import Connection, ReportParser
with open('.sfdc') as f:
    username, password, token, uid, instance = [x.strip("\n") for x in f.readlines()]
sf = Salesforce(username=username, password=password, security_token=token, sandbox=False)
```

### query
```python
ContactDict = sf.query("SELECT Company, CreatedDate, Email, FirstName, Industry, LastName, LeadSource, Title FROM Lead ORDER BY CreatedDate DESC NULLS FIRST LIMIT 50")

opportunity_amounts = sf.query("SELECT Id, Probability, StageName, Amount, Owner.Name FROM Opportunity WHERE AMOUNT < 10000")

amounts = [x['Amount'] for x in opportunity_amounts['records']]
owners = [x['Owner']['Name'] for x in opportunity_amounts['records']]
hist1 = go.Histogram(x=amounts)
py.iplot([hist1], filename='salesforce/opportunity-probability-histogram')
```

sf.Contact.updated(end - datetime.timedelta(days=10), end)       # contacts updated last 10d
contact = sf.Contact.get('003e0000003GuNXAA0')                   # 18 digit id
metadata = sf.Contact.metadata()
describe = sf.Contact.describe()

### read into dataframe
```python
df = pd.DataFrame(ContactDict['records'])
df.head(10)
Age = df['Age__c']
Age.head(10)
agePlot = Age.hist(bins=10)
```

### process
```python
lead_comparison = []
for name, vals in df.groupby('Owners'):
    counts = vals.Status.value_counts()
    lead_comparison.append(Bar(x=counts.index, y=counts.values, name=name))

scatters = []
for name, temp_df in large_opps_df.groupby('Owner'):
    hover_text = temp_df.Name + "<br>Close Probability: " + temp_df.Probability.map(str) + "<br>Stage:" + temp_df.StageName
    scatters.append(
        go.Scatter(
            x=temp_df.CloseDate,
            y=temp_df.Amount,
            mode='markers',
            name=name,
            text=hover_text,
            marker=dict(
                size=(temp_df.Probability / 2) # helps keep the bubbles of managable size
            )
        )
    )

data = scatters
layout = go.Layout(
    title='Open Large Deals',
    xaxis=dict(
        title='Close Date'
    ),
    yaxis=dict(
        title='Deal Amount',
        showgrid=False
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='salesforce/open-large-deals-scatter')
```

### reports

```python
!pip install salesforce-analytics
```

[salesforce-reporting](https://github.com/cghall/force-retrieve)

```python
!pip install salesforce-reporting

report = sf.get_report('report_id', includeDetails=True)
parser = salesforce_reporting.ReportParser(report)
parser.records()
```
  
```python
report = my_sf.get_report('report_id')
matrix_parser = salesforce_reporting.MatrixParser(report)
matrix_parser.series_down('Jan 2016')
```

### Salesforce Streaming Client
A Salesforce streaming API client for python, built on salesforce-requests-oauthlib and python-bayeux.

To run tests, install py.test and pytest-cov in your virtualenv

py.test --cov=src/salesforce_streaming_client/ --cov-report html:coverage  

View test coverage results ./coverage

```python  
pip3 install salesforce-streaming-client
```  

### [Pardot](https://github.com/mneedham91/PyPardot4)

Version 4 for duped email Pardot configurations

**Install**  
_Requires [requests](http://docs.python-requests.org/en/latest/)_

```python
$ !pip install pypardot4
```
  
  
|Parameter|	Required|Description|  
|---------|---------|-----------|  
|object|X|The object type to be returned by the API request|  
|op|X|The operation to be performed on the specified object type|  
|id_field|X|The field to be used as the identifier for the specified object|  
|id|X|The identifier for the specified object(s)|  
|your_api_key|X|The API key that was obtained during Authentication|  
|your_user_key|X|The user key that was used during Authentication|  
|format|The API data format. Either xml or json (xml is default)|  
|params|Parameters specific to your request; See individual methods for details|  

**Authenticate**
```python
pa = PardotAPI(email='email',password='password',user_key='user_key')  
pa.authenticate()
```

**Create a new prospect**
```python
pa.prospects.create(email='joe@company.com', first_name='Joe', last_name='Schmoe')
```

**Read data about our prospect**
```python
print(pa.prospects.read_by_email(email='joe@company.com'))
```

**Query and iterate through today's prospects**
Pardot only returns 200 records with each request  
Use offset to retrieve matching records beyond this limit  

```python
prospects = pa.prospects.query(created_after='yesterday')
total = prospects['total_results'] # total number of matching records
for prospect in prospects['prospect']
  print(prospect.get('first_name'))
```
  
**Create a new prospect**
```python
pa.prospects.create_by_email(email='joe@company.com', first_name='Joe', last_name='Schmoe')
```

**Update a prospect field (works with default or custom field)**
```python
pa.prospects.update_field_by_id(id=23839663, field='company', field_value='Joes Plumbing')
```

**Send a one-off email**
```python
pa.emails.send_to_email(prospect_email='joe@company.com', email_template_id=123)
```

**Performing API calls is inherently unsafe, so be sure to catch exceptions**
```python
try:
  pa.prospects.create_by_email(email='existing.email.address@company.com')
except PardotAPIError, e:
  print(e)
```

### [Pardot](https://github.com/joshgeller/PyPardot)

_version 3 for non duping email configuration_

```python
$ !pip install pypardot
from pypardot.client import PardotAPI
with open(.pardot) as f:
    username, password, token = [x.strip("\n") for x in f.readlines()]
pa = PardotAPI(email=username, password=password, user_key=token)
pa.authenticate()
prospects = pa.prospects.query(created_after='yesterday')
prospects
```  
  
  
### [Pardot](https://github.com/maxnaude/pardot-api-client)

```python
!pip install pardot-api-client

from pardot.client import APIClient
with open('.pardot') as f:
    username, password, token = [x.strip("\n") for x in f.readlines()]
client = APIClient(username, password, token)
pa = client.prospect.read('someone@example.com')
pa = client.prospect.update('someone@example.com', first_name='John')
for r in client.prospect.query(new=True): print(r)
```

--------------------------------------

In [85]:
from pardot.client import APIClient

with open('.pardot') as f:
    username, password, token = [x.strip("\n") for x in f.readlines()]
client = APIClient(username, password, token)
pa = client.prospect.read('someone@example.com')
# pa = client.prospect.update('someone@example.com', first_name='John')
# for r in client.prospect.query(new=True): print(r)

<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html"><img src="img/l_excel.png" style="width:70px; float: left;"></a>    
<h1 style="padding-left:125px; border:none">Pandas Excel Methods</h1> 

--------------------------------------  
```python  
$ !pip install xlrd  
import xlrd
xlsx = pd.ExcelFile('examples/ex1.xlsx')  
pd.read_excel(xlsx, 'Sheet1')  
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')  
frame  
writer = pd.ExcelWriter('examples/ex2.xlsx')  
frame.to_excel(writer, 'Sheet1')  
writer.save()  
frame.to_excel('examples/ex2.xlsx')  
!rm examples/ex2.xlsx  
```
--------------------------------------

<a href="https://www.mysql.com/products/connector/"><img src="img/l_mysql.png" style="width:100px; float: left;"></a>    
<h1 style="padding-left:125px; border:none">MySQL Methods</h1>
  
--------------------------------------  
```python
!pip install mysql-connector-python
import mysql.connector
config = {
    'host': 'rpsmithii.mysql.pythonanywhere-services.com',
    'database': 'rpsmithii$weight','user': 'rpsmithii',
    'password': 'Home@Call4','port': '3306'}
db = mysql.connector.connect(**config)
cur = db.cursor()
cur.execute("SELECT dt, wht FROM weight WHERE wht > 10")
table = pd.DataFrame(cur.fetchall())
table.columns = cur.column_names
```
--------------------------------------